{% extends 'web/base.html' %}
{% load static %}

{% block contenido %}
<h1>Segundo Avance</h1>
<p>
    En este avance del proyecto TubbieArt realizó la recolección de basura acumulada en diferentes 
    áreas del parque, así como la retirada de pasto seco y hierba muerta. Estas tareas fueron fundamentales 
    para comenzar a recuperar el espacio y prepararlo para las siguientes etapas del proyecto.
</p>
<p>Se empleó una variedad de materiales y herramientas que facilitaron la limpieza:</p>
<p>1.Bolsas de basura grandes para recolectar los desechos.</p>
<p>2.Escoba para barrer la cancha y los senderos.</p>
<p>3.Guantes de protección para manipular los residuos de manera segura.</p>
<p>4.Pala para levantar tierra o restos acumulados.</p>
<img src="{% static 'img/AVANCE2_IMAGEN1.gif' %}" alt="imagen">
<img src="{% static 'img/AVANCE2_IMAGEN2.gif' %}" alt="imagen">

{% endblock %}
