{% extends 'web/base.html' %}
{% load static %}

{% block contenido %}
<h1>Tercer y Último Avance</h1>
<p>
    En este último avance del proyecto TubbieArt se realizaron las actividades finales para mejorar y 
    embellecer el Parque Renacimiento. Una de las acciones principales fue la pintura de las bancas, 
    utilizando tonos similares a los originales para lograr una apariencia pareja y armoniosa en el espacio. 
    También se pintó uno de los juegos infantiles que estaban deteriorados, con la intención de hacerlo más 
    seguro, llamativo y agradable para los niños.
</p>
<p>
    Además, se aplicó cal en los árboles, una práctica que ayuda a protegerlos y evitar que ciertos insectos 
    o animales trepen por el tronco. Durante este avance también se llevó a cabo nuevamente la recolección de 
    basura, ya que se encontraron desechos en diversas áreas del parque.
</p>
<p>
    Finalmente, se colocó el cartel del equipo, que incluye el nombre del proyecto, los integrantes, y el eslogan: 
    “Un parque más vivo, un entorno más nuestro”. Este mensaje busca motivar a la comunidad a cuidar el espacio, 
    apropiarse de él y valorar el esfuerzo realizado, dejando una huella positiva y visible del trabajo desarrollado por el equipo.
</p>
<img src="{% static 'img/AVANCE3_IMAGEN1.gif' %}" alt="imagen">
<img src="{% static 'img/AVANCE3_IMAGEN2.gif' %}" alt="imagen">
<img src="{% static 'img/AVANCE3_IMAGEN3.gif' %}" alt="imagen">
{% endblock %}
