{% extends 'web/base.html' %}
{% load static %}

{% block contenido %}
<h1>Primer Avance</h1>
<p>
    En este primer avance del proyecto TubbieArt se llevaron a cabo las actividades iniciales necesarias para 
    comenzar la intervención del Parque Renacimiento. Primero, se seleccionó la zona de trabajo, eligiendo este 
    parque debido a su deterioro visible y su importancia para la comunidad local. Posteriormente, se solicitó 
    permiso a la comunidad de vecinos para poder realizar las actividades dentro del espacio público.
</p>
<p>
    Una vez autorizado, se realizó una visita al parque para evaluar su estado actual, identificar las principales 
    necesidades del lugar y definir qué acciones serían posibles de realizar. Durante esta revisión se observaron 
    áreas con basura, pasto crecido, mobiliario deteriorado y elementos que requerían mantenimiento. Con base en 
    estas observaciones, se determinó qué materiales y herramientas serían necesarios para comenzar las tareas de 
    limpieza y restauración. Finalmente, se inició la gestión y adquisición de dichos materiales para poder avanzar 
    con las siguientes etapas del proyecto.
</p>
<img src="{% static 'img/AVANCE1_IMAGEN1.gif' %}" alt="imagen">
<img src="{% static 'img/AVANCE1_IMAGEN2.gif' %}" alt="imagen">


{% endblock %}
