{% extends 'web/base.html' %}
{% load static %}

{% block contenido %}
<img src="{% static 'img/TELETUBBIES_TUBBIEART.gif' %}" alt="imagen">
<h1>Presentación del pyoyecto</h1>
<p>TubbieArt es un proyecto del PAEC diseñado para restaurar un parque y darle una segunda vida. Su propósito es transformar un espacio que estaba deteriorado en un lugar agradable, funcional y visualmente atractivo. A través de diversas actividades —como limpieza, pintura, mantenimiento de áreas verdes y creación de elementos artísticos— el proyecto busca mejorar el entorno y promover el sentido de pertenencia en la comunidad.</p>

{% endblock %}
