{% extends 'web/base.html' %}
{% load static %}

{% block contenido %}
<h1>Resultados</h1>
<p>
    El proyecto realizado en el Parque Renacimiento permitió transformar un espacio comunitario mediante
     acciones de mejora que fortalecieron tanto el entorno físico como la convivencia social. A lo largo 
     del proceso, el equipo logró recuperar áreas deterioradas, embellecer el lugar y promover prácticas 
     responsables que impulsan el cuidado del medio ambiente.
</p>
<p>
    Uno de los principales resultados fue la creación de un ambiente más limpio, seguro y agradable, lo 
    cual favorece que las familias, niñas, niños y jóvenes puedan disfrutar del parque como un espacio de 
    recreación, descanso y encuentro. Al mejorar las condiciones del lugar, se revitalizó su uso y se reforzó 
    el sentido de pertenencia entre los habitantes de la zona.
</p>
<p>
    El proyecto también generó un impacto formativo importante. Permitió a los estudiantes desarrollar trabajo 
    colaborativo, organización, responsabilidad y conciencia ambiental, habilidades que no solo mejoran su aprendizaje, 
    sino que fortalecen su participación dentro de la comunidad. La experiencia práctica mostró que pequeñas acciones, 
    cuando se realizan de manera conjunta, pueden producir cambios visibles y significativos.
</p>
<p>
    Asimismo, el proyecto contribuyó a resaltar la importancia de mantener los espacios públicos en buenas condiciones, 
    ya que estos influyen directamente en la calidad de vida y en la construcción de entornos más seguros. Un parque cuidado 
    invita al respeto, favorece la unión social y motiva a las personas a continuar protegiéndolo.
</p>
<p>
    Finalmente, el eslogan del proyecto, “Un parque más vivo, un entorno más nuestro”, resume el impacto alcanzado: revitalizar 
    el espacio no solo benefició al parque, sino que fortaleció la conexión entre la comunidad y su entorno. El proyecto deja 
    como resultado un parque más vivo y una comunidad más consciente del valor de sus espacios.
</p>
<h3>ANTES</h3>
<img src="{% static 'img/AVANCE1_IMAGEN1.gif' %}" alt="imagen">
<h3>DESPUES</h3>
<img src="{% static 'img/RESULTADOS_IMAGEN.gif' %}" alt="imagen">
{% endblock %}
